* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height:100vh;
}
#parent
{
  height:100%;
}
.top
{
  width: 100%;
  height:13%;
  background:#f0f2f5;
  display:flex;

}

.middle {

  height: 74%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.bottom
{
  display:flex;
  justify-content:space-around;
  align-items:center;
  height:13%;
}

.middlechild
{
   font-family: sans-serif;
   text-align: center;
   font-size: 3rem;
   font-weight:300;
   color:#e8605d;
 }

.bottomchild
{
  font-size: 4rem;
}
.topchild
{
 width:10%;
 margin:auto;
 font-size: 4rem;
 text-align:center;
}
.topchild1
{
 width:70%;
 margin:auto;
font-family: 'Lobster', cursive;
 font-size: 4rem;
 text-align:center;

}
